/* From Uiverse.io by SteveBloX */ 
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,309;1,309&display=swap');

.card {
    position: relative;
    box-sizing: border-box;
    width: 260px;
    height: 320px;
    background: rgba(69, 69, 69, 0.119);
    border: 1px solid white;
    box-shadow: 12px 17px 51px rgba(0, 0, 0, 0.22);
    backdrop-filter: blur(6px);
    border-radius: 17px;
    text-align: center;
    cursor: pointer;
    transition: all 0.5s;
    display: flex;
    align-items: center;
    justify-content: center;
    user-select: none;
    font-weight: bolder;
    color: rgb(255, 255, 255);

    margin-right: 20px;
  }
  
  .card:hover {
    border: 1px solid rgba(255, 49, 49, 0.463);
    transform: scale(1.05);
  }
  
  .card:active {
    transform: scale(.95) rotateZ(1.7deg);
  }

  .colorr{
    position: absolute;
    top: 0;
    left: 0;
    margin-left: 10px;
    z-index: 100;
    color:white;
    font-weight: bolder;
    font-size: 60px;
    -webkit-text-stroke: 3px black;
  }
  .seemore{

    margin-left: 10px;
    z-index: 100;
    color:rgb(255, 255, 255);
    font-size: 20px;

    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style:normal;
  }
  .cover_link{
    height: 100%;
    width: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
  }

  .img_board{
    position: relative;
    border-radius: 17px;
  }