@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

.texter{
    color: black;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}
.texterer{
    color: black;
    font-size: 40px;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
}

.container{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.border{
    background-color: white;
    border-radius: 15px;
    width: 600px;
    height: 650px;

}
.imgMainBorder{
    width: 50%;
    height: 100%;

    display: inline-block;
}
.imgBorder{
    border: 2px solid rgb(29, 29, 29);
    border-radius: 15px;
    width: 260px;
    height: 320px;



    display: flex;
    justify-content: center;
    align-items: center;

    margin-left: 30px;
    margin-top: 50px;
}
.imgBorder:hover > .img_animated{
    width: 30px;
}
.img_animated{
  position: absolute;
    margin-top: 60px;
    transition: width .3s ease;
}
.img_show{
  position: absolute;
  height: 300px;
  width: 240px;
  border-radius: 8px;
}
.img_show_lock{
  position: absolute;
  height: 300px;
  width: 240px;
  border-radius: 8px;

  opacity: 0%;
}
.header{
    width: 100%;
    height: 70px;

    display: flex;
    justify-content: center;
    align-items: center;
}
.editor_border{
    display: flex;
}
.editor{
    /* position: absolute; */
    margin-bottom: 70px;
}
.editorMain{
    margin-left: 40px;
    margin-top: 30px;
    /* display: inline; */
}
.editorMain > .texter{
    margin-top: 110px;
    font-weight: bold;
}

.sumbitBorder{
    /* background-color: #282828; */
    
    margin-top: 50px;
    
    width: 100%;
    height: 150px;

    display: flex;
    justify-content: center;
    align-items: center;
}

.img_input{
  margin-top: 400px;
  /* background-color: rgb(255, 0, 0); */
  position: absolute;
  width: 260px;
  height: 320px;
  opacity: 100%;
}
.former{
  margin-top: 500px;

  position: absolute;
  z-index: 900;
  display: flex;
  justify-content: center;
  align-items: center;
  /* background-color: black; */

  height:  320px;
  width: 260px;
}
.inputSubmit{
  position: absolute;
  color: black;
  border: 1px solid black;
  border-radius: 10px;

  margin-top: 370px;

}





.form__group {
    position: relative;
    padding: 20px 0 0;
    width: 100%;
    max-width: 180px;
  }
  
  .form__field {
    font-family: inherit;
    width: 220px;
    border: none;
    border-bottom: 2px solid #282828;
    outline: 0;
    font-size: 17px;
    color: #2a2a2a;
    padding: 7px 0;
    background: transparent;
    transition: border-color 0.2s;
  }
  
  .form__field::placeholder {
    color: transparent;
  }
  
  .form__field:placeholder-shown ~ .form__label {
    font-size: 17px;
    cursor: text;
    top: 20px;
  }
  
  .form__label {
    position: absolute;
    top: 0;
    display: block;
    transition: 0.2s;
    font-size: 17px;
    color: #292929;
    margin-top: 10px;
    pointer-events: none;
  }
  
  .form__field:focus {
    padding-bottom: 6px;
    font-weight: 700;
    border-width: 3px;
    border-image: linear-gradient(to right, #116399, #38caef);
    border-image-slice: 1;
  }
  
  .form__field:focus ~ .form__label {
    position: absolute;
    top: 0;
    display: block;
    transition: 0.2s;
    font-size: 17px;
    color: #38caef;
    font-weight: 700;
  }
  
  /* reset input */
  .form__field:required, .form__field:invalid {
    box-shadow: none;
  }



  /* From Uiverse.io by Voxybuns */ 
.buttoner {
    /* Variables */
    --button_radius: 0.75em;
    --button_color: #e8e8e8;
    --button_outline_color: #000000;
    font-size: 17px;
    font-weight: bold;
    border: none;
    cursor: pointer;
    border-radius: var(--button_radius);
    background: var(--button_outline_color);

    margin-top: 70px;
    margin-left: 150px;
    margin-right: 150px;
  }
  
  .button_top {
    display: block;
    box-sizing: border-box;
    border: 2px solid var(--button_outline_color);
    border-radius: var(--button_radius);
    padding: 0.75em 1.5em;
    background: var(--button_color);
    color: var(--button_outline_color);
    transform: translateY(-0.2em);
    transition: transform 0.1s ease;
  }
  
  .buttoner:hover .button_top {
    /* Pull the button upwards when hovered */
    transform: translateY(-0.33em);
  }
  
  .buttoner:active .button_top {
    /* Push the button downwards when pressed */
    transform: translateY(0);
  }
  