@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wdth,wght@75..100,300&display=swap');

.container{
    /* background-color: rgb(95, 95, 95); */
    margin-top: 50px;
    height: 430px;
}

.title {
    color: rgb(255, 255, 255);

    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    font-variation-settings:
        "wdth" 300;
    
    font-size: 35px;
    margin-left: 90px;
}

.listfilm{
    margin-top: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.content{
    background-color: white;
    height: 320px;
    width: 260px;

    border-radius: 25px;

    display: inline-block;
    margin-right: 20px;
}