@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital@0;1&display=swap');

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0px; /* Adjust this to control vertical position */
    width: 100%;
    z-index: 1000;
}


.text{
    color: rgb(255, 58, 58);

    font-size: 50px;
    font-family: "Playfair Display", serif;
    font-optical-sizing: auto;
    font-weight: 900;
    font-style: normal;
}